@import url("https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap");

.App {
  position: relative;
  background-color: #002651;
  color: #fdfdfd;
  font-family: "Nanum Pen Script", cursive;
  font-size: 36pt;
  text-align: center;
  display: grid;
  place-items: center;
  min-height: 100vh;
}

.progressBar {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #775ada;
  height: 0.75rem;
}
